[db_info]
db_host	=
db_user =
db_pass =

[config]
con_key =
con_secret =
key =
secret =
db =
filters =
filter_type =

# Sample Filter:
# This will filter by location on the entire United States, including Alaska and Hawaii.
# filters = -124.848974, 24.396308, -66.885444, 49.384358, -140.9,55.1,-129.8,60.3, -169.6,53.3,-140.9,71.5, -172.0,10.6,-143.3,28.8
# filter_type = location

